In [1]:
import sys
import os
import glob
import pandas as pd
from collections import Counter
from sklearn.preprocessing import Imputer


import numpy as np
import sklearn
print (sklearn.__version__)

from sklearn import linear_model
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import classification_report

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_val_score

from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.metrics import make_scorer
from sklearn.metrics import roc_curve, auc
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.svm import  SVC

from sklearn.externals import joblib

0.19.1

In [2]:
# ディレクトリ名
input_dir = ur"C:/Users/mirait/wk/forKaggle/input/"
output_dir = ur"C:/Users/mirait/wk/forKaggle/output/"

In [3]:
# 訓練データを読み込む
train_path = input_dir + ur"train.csv"
train_data = pd.read_csv(train_path, encoding="cp932",low_memory=False)
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# テストデータを読み込む
test_path = input_dir + ur"test.csv"
test_data = pd.read_csv(test_path, encoding="cp932",low_memory=False)
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
print "訓練データ：レコード長", len(train_data)
print "訓練データ：カラム数",len(train_data.columns)
print "テストデータ：レコード長", len(test_data)
print "テストデータ：カラム数",len(test_data.columns)

訓練データ：レコード長 891
訓練データ：カラム数 12
テストデータ：レコード長 418
テストデータ：カラム数 11

In [6]:
# 分析に生かすために項目の特徴量を取得
def feature(df):
    
    df_feature = pd.DataFrame()
    
    for i in (range(len(df.columns))):
        tmp = pd.DataFrame()
        tmp = df.iloc[:, [i]]
        
        selList = list()
        record_cn = len(tmp) #レコード数
        column_name = tmp.columns[0] #カラム名
        value_type_cn = len(pd.value_counts(tmp.values.flatten())) #値の種類数(NAはカウント外)
        NA_cn = tmp.isnull().sum().values[0] #NA件数

        feature_list = list([record_cn, column_name, value_type_cn, NA_cn])
        now_column = pd.DataFrame(feature_list).T
        #print res1
        
        df_feature = pd.concat([df_feature, now_column], ignore_index=True)
    
    df_feature.columns = [u'レコード数', u'カラム名', 'v_count', u'NA件数']
        
    col_names = list(df_feature.columns)
    df_feature = df_feature.loc[:, col_names]

    return df_feature

In [7]:
# 訓練データの特徴量
feature_train = feature(train_data)
print len(feature_train)

12

In [8]:
# テストデータの特徴量
feature_test = feature(test_data)
print len(feature_test)

11

In [9]:
output_feature_train = os.path.join(output_dir, "column_feature_train.csv")
feature_train.to_csv(output_feature_train, encoding="cp932",index=False)

In [10]:
output_feature_test = os.path.join(output_dir, "column_feature_test.csv")
feature_test.to_csv(output_feature_test, encoding="cp932",index=False)

In [11]:
# データ型が定義されているファイルを読み込み　（データ型は独自判断）
type_list = input_dir + ur"type_list.csv"
df_type = pd.read_csv(type_list, encoding="cp932", low_memory=False)

In [12]:
df_type

    column_name    type
0   PassengerId    char
1      Survived    char
2        Pclass    char
3          Name    char
4           Sex    char
5           Age  number
6         SibSp  number
7         Parch  number
8        Ticket    char
9          Fare  number
10        Cabin    char
11     Embarked    char

In [13]:
type_char = df_type.query('type == "char"')
char_type_column = set(list(type_char["column_name"]))
train_char = train_data.loc[:, char_type_column]

In [14]:
# 値の種類数が100以上の項目は除外対象とする　（カテゴリ項目のみ）
over_value100_list = list(feature_train.query("v_count >= 100")[u"カラム名"].values)

In [15]:
# カテゴリ項目を抽出し除外
char_column = list(train_char.columns)
del_char = list(set(char_column) & set(over_value100_list))
wk_set = set(list(train_data.columns)) - set(del_char)
wk_sel = list(wk_set)
clean_train = train_data.loc[:, wk_sel]

In [16]:
print clean_train.head()
print clean_train.columns

      Fare Embarked   Age  Parch  Pclass     Sex  Survived  SibSp
0   7.2500        S  22.0      0       3    male         0      1
1  71.2833        C  38.0      0       1  female         1      1
2   7.9250        S  26.0      0       3  female         1      0
3  53.1000        S  35.0      0       1  female         1      1
4   8.0500        S  35.0      0       3    male         0      0
Index([u'Fare', u'Embarked', u'Age', u'Parch', u'Pclass', u'Sex', u'Survived',
       u'SibSp'],
      dtype='object')

In [17]:
# 文字列（Embarked）の最頻値を抽出するのは実装上困難なため、replaceで代替
pd.value_counts(clean_train["Embarked"]) # "S"
clean_train["Embarked"] = clean_train["Embarked"].replace([np.nan],"S")

In [18]:
# 欠損値が存在する項目（Age）は平均値で置換
clean_train["Age"] = clean_train["Age"].fillna(clean_train["Age"].mean())

In [20]:
# 欠損値が存在しないことを確認
print clean_train.isnull().any(axis=0)

Fare        False
Embarked    False
Age         False
Parch       False
Pclass      False
Sex         False
Survived    False
SibSp       False
dtype: bool

In [ ]:
# モデル構築

In [21]:
# 目的変数"Survived"がダミー変数化対象になるため退避
target = clean_train["Survived"]
clean_train_wk = clean_train.drop(columns = {"Survived"},axis =1)

In [51]:
# 目的変数の値を確認
print "値0", len(clean_train.query('Survived == 0'))
print "値1", len(clean_train.query('Survived == 1'))

 値0 549
値1 342

In [24]:
# カテゴリ項目を抽出
clean_train_column = set(list(clean_train_wk.columns))
char_column = set(list(type_char["column_name"]))
char_match_lis2 = list(clean_train_column & char_column)
print "入力ファイルの項目数　：　CHAR型の項目数　：", len(clean_train_wk.columns), "：", len(char_match_lis2)
char_column_lis2 = clean_train_wk.loc[:,char_match_lis2]

入力ファイルの項目数　：　CHAR型の項目数　： 7 ： 3

In [25]:
# 数値項目を抽出
type_num = df_type.query('type == "number"')
num_type_column = set(list(type_num["column_name"]))
train_num = clean_train_wk.loc[:, num_type_column]

In [26]:
char_ex = char_column_lis2.astype('unicode')
# フラグ値ではないため先頭値は削除しない
char_ex_dum = pd.get_dummies(char_ex, drop_first=False)

In [27]:
# マージ
merge_file = pd.concat([train_num,char_ex_dum], axis=1)

In [28]:
print len(merge_file)
print len(merge_file.columns)
print merge_file.head()

891
12
      Fare   Age  SibSp  Parch  Sex_female  Sex_male  Pclass_1  Pclass_2  \
0   7.2500  22.0      1      0           0         1         0         0
1  71.2833  38.0      1      0           1         0         1         0
2   7.9250  26.0      0      0           1         0         0         0
3  53.1000  35.0      1      0           1         0         1         0
4   8.0500  35.0      0      0           0         1         0         0

   Pclass_3  Embarked_C  Embarked_Q  Embarked_S
0         1           0           0           1
1         0           1           0           0
2         1           0           0           1
3         0           0           0           1
4         1           0           0           1

In [29]:
# データ分割
(X_train, X_test, y_train, y_test) = train_test_split(merge_file, target, test_size=0.3, random_state=0)

In [30]:
# 数値項目の標準化のため、カラム単位でデータ型を分離
X_column = list(merge_file.columns)
num_column = set(list(train_num.columns))
char_column = set(X_column) - set(num_column)

In [31]:
# 数値項目において訓練データの平均値/標準偏差から訓練データ、テストデータのz-scoreを算出し標準化する
# StandardScalerは上記が実現不可のため個別実装
def number_scaler(X_train, X_test):
    
    train_scaler = pd.DataFrame()
    test_scaler = pd.DataFrame()
    
    train_num = X_train.loc[:, num_column]
    test_num = X_test.loc[:, num_column]
    
    # 標準化後にカテゴリ項目をマージさせるために定義
    train_char = X_train.loc[:, char_column]
    test_char = X_test.loc[:, char_column]
    
    # 訓練データの平均値、標準偏差を取得
    for i in train_num.columns:        
        train_mean = train_num[i].mean()
        train_std = train_num[i].std()
        
        # z-scoreを求める
        train_z = pd.DataFrame({i:(train_num[i] - train_mean) / train_std})
        test_z = pd.DataFrame({i:(test_num[i] - train_mean) / train_std})
        
        train_scaler = pd.concat([train_scaler, train_z], axis=1)
        test_scaler = pd.concat([test_scaler, test_z], axis=1)
    
    # カテゴリ項目をマージ
    train_scaler = pd.concat([train_scaler,train_char], axis=1)
    test_scaler = pd.concat([test_scaler,test_char], axis=1)
    
    # 訓練データの分割次第で標準偏差が0となり、z-scoreが'Nan'となるため0埋めする
    train_scaler = train_scaler.fillna(0)
    test_scaler = test_scaler.fillna(0)
    
#     df_std = pd.DataFrame(lis).T
#     df_std.columns = num_list
#     df_std= df_std.T.reset_index(drop=False)
#     df_std.columns =["col_name","std"]
    
#     print "train:",len(df01)
#     print "test:",len(df02)

    
    return train_scaler, test_scaler

In [47]:
# グリッドサーチ
def grid_s(sc_list, model, grid_param, cv, X, y):
    score = sc_list[0]
    gs = GridSearchCV(model, grid_param, cv=cv, scoring=score)
    gs.fit(X_train,y_train)
    result = pd.DataFrame(gs.grid_scores_)
    result = result.rename(columns={'mean_validation_score':score})
    result = result.iloc[:,[0,1]]
    print gs.best_params_
    
    for i in sc_list[1:]:
        score = i
        gs = GridSearchCV(model, grid_param, cv=cv, scoring=score)
        gs.fit(X_train,y_train)
        res = pd.DataFrame(gs.grid_scores_)
        res = res.rename(columns={'mean_validation_score':score})
        res = res.iloc[:,[1]]
        result = pd.concat([result,res],axis=1)
    
    return result, gs.best_params_

In [32]:
# 引数としたrecall値の閾値を取得
def get_recall_value(X_test_scaler, y_test, clf ,recall_n):
    
    # 任意の閾値のprecision、recallを取得
    prob = clf.predict_proba(X_test_scaler)[:,1]
    fpr,tpr,thresholds = roc_curve(y_test, prob)

    fpr_df = pd.DataFrame(fpr)
    tpr_df = pd.DataFrame(tpr)
    there_df = pd.DataFrame(thresholds)
    df_roc = pd.concat([fpr_df, tpr_df, there_df], axis=1)
    df_roc.columns = ["fpr","tpr","thresholds"]
    
    over_recall = (df_roc.query('tpr >= @recall_n ')).reset_index(drop=True)
    print len(over_recall)

    # 閾値を取得
    thresholds_n = round((over_recall["thresholds"][0]),3)
    
    print thresholds_n
    return thresholds_n

In [33]:
# モデル評価
def score_result(X_test_scaler, y_test, clf, col_name, thresholds_n, recall_n):
    
    # recall固定値
    fix_recall = str(recall_n * 100)+"%"
    
    y_prob = (clf.predict_proba(X_test_scaler)[:,1] >= thresholds_n).astype(int)
    
    # 閾値のモデル精度
    ac_score = round((accuracy_score(y_test, y_prob)), 3)
    pre_score = round((precision_score(y_test, y_prob)), 3)
    rec_score = round((recall_score(y_test, y_prob)), 3)
    f1_s = round((f1_score(y_test, y_prob)), 3)
    
    # predict_probaでaucを算出
    prob = clf.predict_proba(X_test_scaler)[:,1]
    fpr, tpr, thresholds = roc_curve(y_test,prob)
    auc_score = round(auc(fpr,tpr),3)
    
    tmp = [fix_recall, auc_score, ac_score, pre_score, rec_score, f1_s]
    score_df = pd.DataFrame(tmp)
    score_df.index = ["fix_Recall", "AUC", "Accuracy", "Precision", "Recall", "F1_score"]
    return score_df

In [ ]:
def sgd(model, x_data, y_data):
    
    model.fit(X_train,y_train)
        
    print "score:", model.score(X_test,y_test)
    print "confusion_matrix:"
    print confusion_matrix(y_test, model.predict(X_test))

    coeff_df = pd.DataFrame([X_train.columns,  model.coef_[0]]).T
    coeff_df.columns = ["col_name","coef"] 
    coeff_df["coef_abs"] = abs(coeff_df["coef"] )
    coeff_df1 = coeff_df.sort_values(by="coef_abs", ascending=False).reset_index(drop=True)
    coeff_df2 = pd.merge(coeff_df1,X_std, on="col_name", how="left")
    coeff_df2["coef/std"] = coeff_df2["coef"]/coeff_df2["std"]
    for i in range(len(coeff_df2)):
        if np.isnan(coeff_df2.loc[i,"coef/std"]) == True:
            coeff_df2.loc[i,"coef/std"] = coeff_df2.loc[i,"coef"]
        else:
            pass

    print ""
    print "回帰係数の総数",len(coeff_df1)
    coeff_df1.coef =coeff_df1.coef.astype(np.float)
    print "回帰係数 0の数",len(coeff_df1.query('coef == 0'))
    print "回帰係数 0以外の数",len(coeff_df1.query('coef != 0'))
    
    
    print ""
    precision, recall, threshold = precision_recall_curve(y_test, model.predict_proba(X_test)[:,1] )#

    print "precision ",precision
    print "recall_",recall
    print "threshold",threshold
    
    print ""
    print (sklearn.metrics.classification_report(y_test, model.predict(X_test)))
    
    print ""
    prob = model.predict_proba(X_test)[:,1]
    fpr,tpr,thresholds = sklearn.metrics.roc_curve(y_test,prob)
    print "auc", round(sklearn.metrics.auc(fpr,tpr),4)
    
    #print ""
    plt.plot(fpr, tpr)
    plt.title("ROC curve")

    plt.xlabel("False Positve Rate")
    plt.ylabel("True Positive Rate")
    #plt.show()
    
    return coeff_df1,coeff_df2

# SGD (エラスティックネット) (recall評価版)
def sgd(X_train_scaler, X_test_scaler, y_train, y_test, recall_50, recall_90):
    
    clf =linear_model.SGDClassifier(loss='log', penalty='elasticnet', random_state=0, class_weight='balanced',
                                    alpha=grid_sgd_param[u'alpha'] , l1_ratio=grid_sgd_param[u'l1_ratio'], max_iter=500)
    clf.fit(X_train_scaler,y_train)
    
    # 項目毎の回帰係数を出力
    coeff_df = pd.DataFrame([X_train_scaler.columns, clf.coef_[0]]).T
    coeff_df.columns = ["col_name","coef"] 
    coeff_df["coef_abs"] = abs(coeff_df["coef"] )
    coeff_df_sort = coeff_df.sort_values(by="coef_abs", ascending=False).reset_index(drop=True)
    
    print "回帰係数の総数",len(coeff_df_sort)
    coeff_df_sort.coef =coeff_df_sort.coef.astype(np.float)
    print "回帰係数 0の数",len(coeff_df_sort.query('coef == 0'))
    print "回帰係数 0以外の数",len(coeff_df_sort.query('coef != 0'))
    
    col_name = "SGDClassifier"
    
    # recall:50%の評価
    thre_50 = get_recall_value(X_test_scaler, y_test, clf, recall_50)#probの指定
    print "recall:",recall_50," -> 閾値",thre_50
    score_recall_50 = score_result(X_test_scaler, y_test, clf, col_name, thre_50, recall_50)
    
    # recall:90%の評価
    thre_90 = get_recall_value(X_test_scaler, y_test, clf, recall_90)
    print "recall:",recall_90," -> 閾値",thre_90
    score_recall_90 = score_result(X_test_scaler, y_test, clf, col_name, thre_90, recall_90)    
    
    # AUC値を取得
    prob = clf.predict_proba(X_test_scaler)[:,1]
    fpr,tpr,thresholds = sklearn.metrics.roc_curve(y_test,prob)
    print "auc", round(sklearn.metrics.auc(fpr,tpr),4)
    
    # ROC曲線を出力
    plt.plot(fpr, tpr)
    plt.title("ROC curve")
    plt.xlabel("False Positve Rate")
    plt.ylabel("True Positive Rate")
    
    return coeff_df_sort, score_recall_50, score_recall_90

In [35]:
# 数値項目を標準化
X_train_scaler, X_test_scaler = number_scaler(X_train, X_test)

In [36]:
print X_train_scaler.columns

Index([u'Fare', u'Age', u'SibSp', u'Parch', u'Pclass_1', u'Embarked_Q',
       u'Pclass_3', u'Pclass_2', u'Sex_male', u'Sex_female', u'Embarked_S',
       u'Embarked_C'],
      dtype='object')

In [52]:
# モデルの評価値
#sc_list = ['roc_auc','accuracy','f1']
sc_list = ['accuracy']
# 交差検定の実行回数
cv  = 10

In [53]:
# グリッドサーチ用のモデル
grid_SGD_clf = linear_model.SGDClassifier(loss='log', penalty='elasticnet', random_state=0, class_weight='balanced',max_iter=50)

In [54]:
# 最適化したいパラメータのリスト
param = [{'alpha': [0.1, 0.01, 0.001],'l1_ratio': [0, 0.05, 0.1, 0.15]}]

In [55]:
grid_result_SGD, best_param_SGD = grid_s(sc_list, clf, param, cv, X_train, y_train)

{'alpha': 0.01, 'l1_ratio': 0.05}

C:\Users\mirait\Anaconda2\lib\site-packages\sklearn\model_selection\_search.py:761: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

In [56]:
# グリッドサーチの探索結果を出力
output_grid = os.path.join(output_dir, "grid_SGD.csv")
grid_result_SGD.to_csv(output_grid, encoding="cp932", index=False)

In [59]:
#グリッドサーチで確認したacuが最も高いパラメータを追加
SGD_clf = linear_model.SGDClassifier(loss='log', penalty='elasticnet', random_state=0, 
                                     alpha = best_param_SGD['alpha'], l1_ratio = best_param_SGD['l1_ratio'],class_weight='balanced',max_iter=500)

# テストデータの欠損値を削除した上で目的変数に欠損値が存在しない行を指定する
X_test_scaler = (X_test_scaler.replace([np.inf,-np.inf],np.nan)).dropna()
noinf_ix = list(X_test_scaler.index)
y_test_loan = y_test_loan.loc[noinf_ix,:]

In [58]:
result ,result_std = sgd(X_train_scaler, X_test_scaler, y_train, y_test, SGD_clf, x_data, y_data)

<type 'dict'>