In [25]:
import sys
import os
import glob
import pandas as pd

import numpy as np
import sklearn
print (sklearn.__version__)

from sklearn import linear_model
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import classification_report

import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.externals import joblib

from sklearn.model_selection import cross_val_score

from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.metrics import make_scorer
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import cross_val_score
from sklearn.svm import  SVC

from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.externals.six import StringIO

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

0.19.1

In [2]:
# ディレクトリ名
input_dir = ur"C:/Users/mirait/wk/git/input/"
output_dir = ur"C:/Users/mirait/wk/git/output/"

In [3]:
# テストデータを読み込む
test_path = input_dir + ur"test.csv"
test_data = pd.read_csv(test_path, encoding="cp932",low_memory=False)
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# 訓練データと条件を同一にするために、訓練データを読み込み項目抽出する

In [5]:
# 乗客番号は出力結果に必要なため退避する
passengerId = test_data['PassengerId']

In [6]:
# 訓練データを読み込む
train_path = input_dir + ur"train_column.csv"
train_data = pd.read_csv(train_path, encoding="cp932",low_memory=False)
train_data.head()

      Fare Embarked   Age  Parch  Pclass     Sex  Survived  SibSp
0   7.2500        S  22.0      0       3    male         0      1
1  71.2833        C  38.0      0       1  female         1      1
2   7.9250        S  26.0      0       3  female         1      0
3  53.1000        S  35.0      0       1  female         1      1
4   8.0500        S  35.0      0       3    male         0      0

In [7]:
# テストデータから訓練データの項目のみ抽出する
train_columns = list(train_data.columns)
test_clean = test_data.loc[:, train_columns]

C:\Users\mirait\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\mirait\Anaconda2\lib\site-packages\pandas\core\indexing.py:1367: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [8]:
print test_clean.columns
print test_clean.head()

Index([u'Fare', u'Embarked', u'Age', u'Parch', u'Pclass', u'Sex', u'Survived',
       u'SibSp'],
      dtype='object')
      Fare Embarked   Age  Parch  Pclass     Sex  Survived  SibSp
0   7.8292        Q  34.5      0       3    male       NaN      0
1   7.0000        S  47.0      0       3  female       NaN      1
2   9.6875        Q  62.0      0       2    male       NaN      0
3   8.6625        S  27.0      0       3    male       NaN      0
4  12.2875        S  22.0      1       3  female       NaN      1

In [9]:
# 目的変数はテストデータに元々存在しないため削除
test_wk = test_clean.copy()
test_wk = test_wk.drop(columns = {u"Survived"},axis =1)

In [10]:
# 欠損値が存在する項目（Age）は平均値で置換
test_wk["Age"] = test_wk["Age"].fillna(test_wk["Age"].mean())

In [11]:
# 訓練データではFareには欠損値がなかったため完全な同一条件ではなくなるが、
# 1件のみのため影響は軽微と判断し平均値で置換
# （乗客番号全ての結果を出力する必要があるため削除はNG）
test_wk["Fare"] = test_wk["Fare"].fillna(test_wk["Fare"].mean())

In [13]:
# 欠損値が存在しないことを確認
print test_wk.isnull().any(axis=0)

Fare        False
Embarked    False
Age         False
Parch       False
Pclass      False
Sex         False
SibSp       False
dtype: bool

In [14]:
# データ型が定義されているファイルを読み込み　（データ型は独自判断）
type_list = input_dir + ur"type_list.csv"
df_type = pd.read_csv(type_list, encoding="cp932", low_memory=False)

In [15]:
# カテゴリ項目を抽出
clean_test_column = set(list(test_wk.columns))
type_char = df_type.query('type == "char"')
char_column = set(list(type_char["column_name"]))
char_match_lis = list(clean_test_column & char_column)
print "入力ファイルの項目数　：　CHAR型の項目数　：", len(test_wk.columns), "：", len(char_match_lis)
test_char = test_wk.loc[:,char_match_lis]

入力ファイルの項目数　：　CHAR型の項目数　： 7 ： 3

In [16]:
# 数値項目を抽出
type_num = df_type.query('type == "number"')
num_type_column = set(list(type_num["column_name"]))
test_num = test_wk.loc[:, num_type_column]

In [17]:
char_ex = test_char.astype('unicode')
# フラグ値ではないため先頭値は削除しない
char_ex_dum = pd.get_dummies(char_ex, drop_first=False)

In [18]:
# マージ
merge_file = pd.concat([test_num, char_ex_dum], axis=1)

In [19]:
print len(merge_file)
print len(merge_file.columns)
print merge_file.head()

418
12
      Fare   Age  SibSp  Parch  Sex_female  Sex_male  Pclass_1  Pclass_2  \
0   7.8292  34.5      0      0           0         1         0         0
1   7.0000  47.0      1      0           1         0         0         0
2   9.6875  62.0      0      0           0         1         0         1
3   8.6625  27.0      0      0           0         1         0         0
4  12.2875  22.0      1      1           1         0         0         0

   Pclass_3  Embarked_C  Embarked_Q  Embarked_S
0         1           0           1           0
1         1           0           0           1
2         0           0           1           0
3         1           0           0           1
4         1           0           0           1

In [21]:
# モデルを読み込む
model = joblib.load(ur"model_gbdt.pkl")

In [22]:
# 数値項目の標準化のため、カラム単位でデータ型を分離
X_column = list(merge_file.columns)
num_column = set(list(test_num.columns))
char_column = set(X_column) - set(num_column)

In [26]:
# カテゴリ項目を退避
use_char = merge_file.loc[:, char_column].reset_index(drop=True)
print len(use_char)
print len(use_char.columns)

# 数値項目を標準化
use_num = merge_file.loc[:, num_column].reset_index(drop=True)
print len(use_num)
print len(use_num.columns)

scaler = StandardScaler()
num_scaler = scaler.fit_transform(use_num)
df_scaler = pd.DataFrame(num_scaler)

df_scaler.columns = num_column

print len(df_scaler)
print len(df_scaler.columns)

418
8
418
4
418
4

In [27]:
# 標準化後の数値項目とカテゴリ項目を結合
X = pd.concat([df_scaler,use_char], axis=1)

In [28]:
print X.head()
print len(X)
print len(X.columns)

       Fare       Age     SibSp     Parch  Pclass_1  Embarked_Q  Pclass_3  \
0 -0.498407  0.334993 -0.499470 -0.400248         0           1         1
1 -0.513274  1.325530  0.616992 -0.400248         0           0         1
2 -0.465088  2.514175 -0.499470 -0.400248         0           1         0
3 -0.483466 -0.259330 -0.499470 -0.400248         0           0         1
4 -0.418471 -0.655545  0.616992  0.619896         0           0         1

   Pclass_2  Sex_male  Sex_female  Embarked_S  Embarked_C
0         0         1           0           0           0
1         0         0           1           1           0
2         1         1           0           0           0
3         0         1           0           1           0
4         0         0           1           1           0
418
12

In [29]:
# 取り込んだモデルでデータを予測
def model_predict(clf, x, y):
    prob = clf.predict_proba(x)[:,1]
    fpr,tpr,thresholds = roc_curve(y, prob)

    fpr_df = pd.DataFrame(fpr)
    tpr_df = pd.DataFrame(tpr)
    there_df = pd.DataFrame(thresholds)
    df_roc = pd.concat([fpr_df, tpr_df, there_df], axis=1)
    df_roc.columns = ["fpr","tpr","thresholds"]

    # recall:50%での閾値を取得
#     over_recall = (df_roc.query('tpr >= @recall_50')).reset_index(drop=True)
#     thresholds_n = round((over_recall["thresholds"][0]),3)
#     print "閾値：", thresholds_n

    # 作成時の閾値を基に予測する
#     y_prob = (clf.predict_proba(x)[:,1] >= target_thresholds).astype(int)

    # 閾値のモデル精度
    ac_score = round((accuracy_score(y, prob)), 3)
    pre_score = round((precision_score(y, prob)), 3)
    rec_score = round((recall_score(y, prob)), 3)
    f1_s = round((f1_score(y, prob)), 3)

    # predict_probaでaucを算出
    prob = clf.predict_proba(x)[:,1]
    fpr, tpr, thresholds = roc_curve(y,prob)
    auc_score = round(auc(fpr,tpr),3)
    
    return prob, ac_score, pre_score, rec_score, f1_s, auc_score

In [ ]:
prob, ac_score, pre_score, rec_score, f1_s, auc_score = model_predict(modek, X, y_loan, thresholds_loan)